<!-- Form for editing and new recipe ingredients -->
<div class="form">
<%= form_for @recipe_ingredient do |f| %>
  <p>
    <!-- Adds quantity to page hash -->
    <%= f.label :quantity %>
    <%= f.number_field :quantity, placeholder: 0, 
                                  class: 'text_field', step: 'any' %>
  </p>
  <p>
    <!--########################################################################
    # Clean way to build option select from database items.
    # Select box contails all avaliable measurements.  Adds measurement id
    # to page hash
    #########################################################################-->
    <%= f.label :measurement %>
    <%= collection_select(:recipe_ingredient, 
        :measurement_id, Measurement.all, :id, :name)%>
    <%= link_to 'new', new_measurement_path if admin %>
  </p>
  <p>
    <!--########################################################################
    # Another way to build option select from database items.
    # Select box contails all avaliable ingredients.  Adds ingredeint id
    # to page hash
    #########################################################################-->
    <%= f.label :ingredient %>
    <%= f.select :ingredient_id, 
          options_for_select(Ingredient.all.map{|i| [i.name,i.id]}, 
          :selected => @recipe_ingredient.ingredient_id ) %>
    <%= link_to 'new', new_ingredient_path if admin %>
  </p>
  <p>
    <!--########################################################################
    # Additional information such as chopped, sliced, sifted etc added to 
    # page hash
    #########################################################################-->
    <%= f.label "Additional" %>
    <%= f.text_field :text, placeholder: "Addt'l Info" %>
  </p>
  <p>
    <!-- Creates/Updates recipe ingredient -->
    <%= f.submit @btnText, class: "myButton" %>
  </p>
<% end %>
</div>