<% @page_title = "UserAuth | Signup" %>

<% if @user.errors.any? %>
  <div class="error">
    <% @user.errors.full_messages.each do |m| %>
    <ul>
      <li><%= m %></li>
    </ul>
    <% end %>
  </div>
<% end %>

<div class="Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for @user do |f| %>
      <p> <%= f.text_field :username, class:"inputs", :placeholder => "Username"%> </p>
      <p> <%= f.text_field :email, class:"inputs", :placeholder => "Email"%> </p>
      <p> <%= f.text_field :fname, class:"inputs", :placeholder => "First Name"%></p>
      <p> <%= f.text_field :lname, class:"inputs", :placeholder => "Last Name"%></p>
      <p> <%= f.password_field :password, class:"inputs", :placeholder => "Password"%></p>
      <p> <%= f.password_field :password_confirmation, class:"inputs", :placeholder => "Re-Enter Password"%> </p>
      <%= f.submit :Signup, class:"myButton"%>
  <% end %>
</div>