<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Abbreviation</th>
  </tr>
  <% @measurements.each do |msr| %>
  <tr>
    <td><%= msr.id %></td>
    <td><%= msr.name %></td>
    <td><%= msr.abbr %></td>
    <td>
      <%= link_to 'edit', edit_ingredient_path(msr) %>
      <%= link_to 'delete', ingredient_path(msr), method: :delete, 
                            data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
</table>