<%= form_for @measurement do |f| %>
  <p>
    <%= f.label 'Name:' %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Abbreviation'%>
    <%= f.text_field :abbr %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>