<!DOCTYPE html>
<html>
  <%= render 'layouts/imports'  %>
  <%= render 'layouts/header' %>
  <body>
    <%= render 'layouts/flash'  %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>