<!DOCTYPE html>
<!-- Main template for all pages -->
<html>
    <!-- Head of document _head.html.erb -->
  <%= render 'layouts/head' %>
  <body>
      <!-- Page header _header.html.erb -->
    <%= render 'layouts/header' %>
    <div class="container">
      <!-- Flash messages to user  -->
      <%= render 'shared/flash' %>
      <!-- Display content for request <page_request>.html.erb -->
      <%= yield %>
    </div>
      <!-- Page footer _foother.html.erb -->
    <%= render 'layouts/footer' %>
  </body>
</html>